# Database
# 使用独立 schema（pm）避免与 community 公共表冲突
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=pm"

# Auth
AUTH_SECRET="replace-with-a-long-random-secret"
NEXTAUTH_SECRET="replace-with-a-long-random-secret"

# NextAuth
AUTH_TRUST_HOST=true

# NEXTAUTH_URL:
# - local: http://localhost:3003
# - prod:  https://your-domain.com
# NEXTAUTH_URL 设置为 localhost，避免 0.0.0.0 被用于 redirect URL
NEXTAUTH_URL=http://localhost:3003